<table class="table table-striped" id="files-table">
<thead>
  <tr>
    <th>file_name</th>
    <th>file_type</th>
    <th>file_size</th>
    <th>url</th>
    <th>tags</th>
    <th>Update</th>
    <th>Remove</th>
  </tr>
</thead>
<tbody>
  {{#each files as |file|}}
  <tr>
    <td data-name="{{file.file_name}}" id="name-{{file.id}}"> {{file.file_name}} </td>
    <td data-type="{{file.file_type}}"> {{file.file_type}} </td>
    <td data-size="{{file.file_size}}"> {{file.file_size}} </td>
    <td data-url="{{file.url}}"> {{file.url}} </td>
    <td data-tags="{{file.tags}}"> {{file.tags}} </td>
    <td>
      <button type="button" class="btn btn-warning update-file-btn" data-file-id="{{file.id}}"> Update </button>
      <input type="text" name="file[name]" placeholder="New Name Here" id="{{file.id}}">
    </td>
    <td><button type="button" class="btn btn-danger remove-file-btn"> Remove </button></td>
  </tr>
  {{/each}}
</tbody>
</table>
